{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "plugins": [
    "plantain"
  ],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "no-case-declarations": "off",
    "no-console": "off",
    "require-atomic-updates": "off",
    "plantain/promise-not-await": "error"
  },
  "env": {
    "node": true
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
